body {
    background: linear-gradient(135deg, #232526 0%, #414345 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

a {
    text-decoration: none;
    font-size: 25px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #0008;
    padding: 10px 0;
    border-radius: 20px;
}

.container a {
    color: #353535;
    transition: background-color 0.3s, padding 0.3s, border-radius 0.3s, color 0.3s;
    border-radius: 20px;
    padding: 20px;
}

.container a:hover {
    background-color: rgba(255, 255, 255, 0.582);
    color: #000000;

}

.container a:active {
    background-color: #fff8;
    color: #232526;
    border-radius: 20px;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    left: 30px;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.header1 {
    font-size: 30px;
    width: 60px;
    height: 20px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 130px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.home {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #0008;
    padding: 90px 0;
    margin-top: 50px;
    border-radius: 20px;
}

.home h1 {
    font-size: 30px;
    width: 60px;
    height: 20px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 170px;
    left: 70px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.social-acc img {
    max-width: 50px;
    border: 10px solid #3b5998;
    border-radius: 50%;
    
}

.social-acc a {
    font-size: 30px;
    width: 60px;
    height: 20px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 250px;
    left: 30px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.social-acc2 img {
    max-width: 50px;
    border: 10px solid #25d366;
    border-radius: 50%;
    
}

.social-acc2 a {
    font-size: 30px;
    width: 60px;
    height: 20px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 250px;
    left: 120px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.work {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #0008;
    padding: 90px 0;
    margin-top: 50px;
    border-radius: 20px;
}

.work h1 {
    font-size: 30px;
    width: 60px;
    height: 20px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 400px;
    left: 60px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.work h3 {
    margin-right: 30px;
    display: flex;
    position: absolute;
    top: 450px;
    left: 55px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.reviews {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #0008;
    padding: 90px 0;
    margin-top: 50px;
    border-radius: 20px;
}

.reviews h1 {
    font-size: 30px;
    width: 60px;
    height: 20px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 620px;
    left: 70px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.reviews h3 {
    margin-right: 30px;
    display: flex;
    position: absolute;
    top: 680px;
    left: 39px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

footer{
  background-color: #11111186;
  border-radius: 10px;
  margin-top: 30px;
}
.footerContainer{
  padding: 70px 30px 20px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #1e1e1e;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
}

.img-all{
  height: 42px;
  width: 42px;
  margin: 12px 12px;
  justify-content: center;
  align-items: center;
  display: flex;
}



